html {
	/*background:#888;*/
}

body {
	padding:2em 3em;
	/*margin:1em;
	background:#fff;*/
	background:#fff;
	border-radius:10px;
}

pre {
	padding:1em;
	margin:.5em 0em 2em;
	background:#f3f3f3;
}

h1 {}
h4 {margin-bottom:.5em;}

hr.separateur { margin-top:4em; border-width: 10px;}
