

.spip_tokens {
	padding:1em;
	margin:.5em 0em 2em;
	background:#f3f3f3;
}

.spip_tokens .st_echappement.avant { color:red; font-weight:bold; }
.spip_tokens .st_echappement { color:#444; }
.spip_tokens .st_texte { color:#666; }
.spip_tokens .st_commentaire { color:#CFA665; }
.spip_tokens .st_commentaire_doc { color:#D08D24; }

.spip_tokens .st_polyglotte_debut,
.spip_tokens .st_polyglotte_fin { color:#C24DB8; }
.spip_tokens .st_polyglotte_langue { color:#A679B7; }
.spip_tokens .st_polyglotte_langue.avant { font-weight:bold; }
.spip_tokens .st_polyglotte_langue.apres { font-weight:bold; }


.spip_tokens .st_idiome_debut,
.spip_tokens .st_idiome_fin { color:#9000DC; }
.spip_tokens .st_idiome_module { color:#A942DF; }
.spip_tokens .st_idiome_module.apres { color:#9000DC; }
.spip_tokens .st_idiome_cle { color:#A942DF; }
