Du texte et une chaîne de langue : <:espace_prive:>

Une autre chaîne de langue : <:spip:admin_modifier_article:>

<multi>[fr]français[en]englais</multi>

texte

<multi>[fr]français[en]englais</multi>
